.recommend li {
    width: 25%;
    float: left;
    padding: 10px;

}

.recommend li img {
    height: 135px;
}

.recommend li h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.recommend li span {
    color: #999;
    font-size: 12px;
}

.recommend li p {
    height: 1.4em;
    line-height: 1.4em;
    color: #30afef;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.recommend li p a:hover {
    text-decoration: underline;
}

.tdoor-gallery {
    height: 338px;
    background: rgba(123, 123, 202, 0.1);
}
.tdoor-selected {
    width: 40%;
    float: left;
    padding: 10px;
    margin-top: 20px;
}
.tdoor-selected img{
    height: 265px;
}
.tdoor-selected-2 {
    width: 60%;
    float: left;
}

.tdoor-selected-2 ul {
    margin-top: 20px;
}

.tdoor-selected-2 ul li {
    float: left;
    width: 45%;
    margin-left: 5%;
    padding: 10px;
}
.tdoor-selected-2 ul li a img{
    width: 271px;
    height: 124px;
}
.gallery-scrim-middle{
    width: 100%;
}